body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
  font-family: Helvetica;
}

header   {
  background: #111;
  color: #FFF;
  padding: 20px 30px;
}
nav     {
  width: 80%;
  display: inline-block;
  text-align: right;
  margin: 2;
}
nav ul li {
  display: inline-block;
}
nav ul li a    {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  background: #111;
}
footer   {
  background: #111;
  color: #999;
  padding: 20px;
  text-align: center;
}
.gtitre           {
  min-height: 550px;
  text-align: center;
  background-image: url('../img/int.png');
  background-size: cover;
  color: #FFF;
  padding-top: 110px;
  margin: 0;
  font-size: 30px;
  line-height : 6;
}
.bleu {
color:blue;
}
.rouge {
color:red;
}
.vert {
color:green;
}
.souligner {
text-decoration: underline;
}
.gras {
font-weight: bold;
}
.italique {
font-style: italic;
}
.zero{ 
 text-decoration:none;
 color:white;
}
.ref{
	text-indent: 24px;
	font-size: 24px;
	font-family: Helvetica;
}
.img {
	width:250px; 
	height : 250 px;
	float:right;
}
